.cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-container {
    display: flex;
    justify-content: center;
}


.offers {
    width: 40vw;
    margin: 10px;
    border: 1px solid rgb(192, 189, 189);
}

.offers-container {
    margin: 20px;
}

.available-offers {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 600;
}

.available-offers img {   
    width: 20px;
    margin-right: 10px;
}

.kotak-discount {
    padding: 5px 0;
    font-size: small;
}

@media screen and (min-width: 350px) and (max-width: 768px){
    .cart-container {
        flex-direction: column;
    }
    .offers {
        width: 90vw;
        margin: 10px auto;
    }
    
}