.price-wrapper {
    width: 25vw;
    margin: 15px;
    padding: 15px;
    border: 1px solid rgb(185, 181, 181);
}

.price-details {
    margin: 8px 0;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.price-details-text {
    font-size: 12px;
    font-weight: 800;
}

.discount-on-mrp {
    color: rgb(47, 160, 47);
}

.apply-coupon {
    color: rgb(243, 7, 7);
    cursor: pointer;
}

.total-amount-text {
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.place-order-button {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.clear-cart-button {
    width: 100%;
    background-color: rgb(255, 63, 108);
    padding: 9px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.popup {
    position: relative;
    right: 0;
}

/* @media screen and (min-width: 350px) and (max-width: 850px){
    .price-wrapper {
        box-sizing: border-box;
        width: 90vw;
        margin: 10px auto;
        padding: 10px;
    }
} */

@media(max-width: 468px){
    .price-wrapper {
        box-sizing: border-box;
        width: 90vw;
        margin: 10px auto;
        padding: 10px;
    }
}

@media (min-width: 469px) and (max-width: 768px){
    .price-wrapper {
        width: 87vw;
        margin: 10px auto;
        padding: 10px;
    }
}

@media(min-width: 769px) and (max-width: 1365px) {
    .price-wrapper {
        width: 30vw;
        margin: 10px auto;
    }
}