.otp-container {
    width: 100%;
    height: calc(100vh - 11vh);
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-main {
    width: 330px;
    height: 80%;
    padding: 20px 30px;
    background: #fff;
}

.otp-image {
    width: 100%;
    height: auto;
}

.otp-mobile-varification-logo-div {
    width: 100px;
    height: 100px;
}

.otp-varify-text{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.resend-otp {
    font-size: 14px;
    font-weight: 700;
    color: #ff3e6c;
    cursor: pointer;
}

.otp-text-password, .otp-text-help {
    font-weight: 500;
    color: rgb(53, 52, 52);
}

.otp-text-password {
    margin: 25px 0;
}

.otp-input-divs {
    width: 23px;
    height: 35px;
    padding: 3px;
    font-size: large;
    margin: 30px 0;
    margin-right: 20px;
}

.login-using-password-text {
    color: #ff3e6c;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    .otp-main {
        width: 230px;
        height: 70%;
    }
    .otp-input-divs {
        width: 20px;
        height: 30px;
    }
    .resend-otp {
        font-size: 13px;
    }
    .otp-text-password, .otp-text-help {
        font-size: 14px;
    }
}