.confirmation-container {
    width: 100%;
    height: calc(100vh);
    background-color: rgb(241, 239, 239);
}

.confirmation-main-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.confirmation-inner-container {
    width: 60vw;
    min-height: 70vh;
    background-color: white;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-most-inner-container {
    width: 40vw;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(231, 228, 228);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-logo-img-wrapper img {
    width: 100%;
    height: auto;
}
.confirmation-logo-img-wrapper {
    width: 65px;
}

.order-confirmed-text {
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
    color: green;
}

.confirmation-receive-email-text {
    text-align: center;
    color: grey;
    font-weight: 600;
    margin-bottom: 20px;
}

.confirmation-continue-shopping {
    width: 40vw;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(231, 228, 228);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.confirmation-continue-shopping-button button {
    width: 100%;
    font-size: 14px;
    padding: 10px 5px;
    color: rgb(41, 99, 207);
    border-radius: 5px;
    border: 1px solid rgb(41, 99, 207);
    cursor: pointer;
}
.confirmation-continue-shopping-button {
    width: 40%;
}

.confirmation-view-order-button button{
    width: 100%;
    font-size: 16px;
    padding: 10px 5px;
    color: white;
    border-radius: 5px;
    border: 1px solid #ff3f6c;
    background-color: #ff3f6c;
    border: none;
    cursor: pointer;
}
.confirmation-view-order-button {
    width: 40%;
}


@media (max-width: 468px) {
    .confirmation-continue-shopping {
        width: 65vw;
    }
    .confirmation-main-container {
        margin-top: 20px;
    }
    .confirmation-inner-container {
        width: 90vw;
    }
    .confirmation-most-inner-container {
        width: 65vw;
        margin: 20px 10px;
    }
    .confirmation-continue-shopping-button {
        margin: 0;
        margin-bottom: 20px;
    }
    .confirmation-continue-shopping-button button {
        font-size: 10px;
    }
    .confirmation-continue-shopping-button {
        width: 60%;
    }
    .confirmation-view-order-button button {
        font-size: 9px;
        padding: 12px 5px;
    }
    .confirmation-view-order-button {
        width: 35%;
    }
}
@media (min-width: 469px) and (max-width: 768px) {
    .confirmation-continue-shopping {
        width: 65vw;
    }    
    .confirmation-main-container {
        margin-top: 30px;
    }
    .confirmation-inner-container {
        width: 90vw;
    }
    .confirmation-most-inner-container {
        width: 65vw;
        margin: 30px 10px;
    }
    .confirmation-continue-shopping-button {
        margin: 0;
        margin-bottom: 20px;
    }
    .confirmation-continue-shopping-button button {
        font-size: 11px;
    }
    .confirmation-view-order-button button {
        font-size: 12px;
    }
}
@media (min-width: 769px) and (max-width: 1365px) {
    .confirmation-continue-shopping {
        width: 65vw;
    }
    .confirmation-main-container {
        margin-top: 30px;
    }
    .confirmation-inner-container {
        width: 90vw;
    }
    .confirmation-most-inner-container {
        width: 65vw;
        margin: 30px 10px;
    }
    .confirmation-continue-shopping-button {
        margin: 0;
        margin-bottom: 20px;
    }
    .confirmation-continue-shopping-button button {
        font-size: 14px;
    }
}