
.footer-wrapper {
    background-color: rgb(230, 227, 227);
}

.content-wrapper {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.footer-wrapper img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.guarantee-wrapper {
    display: flex;
}

.original {
    font-size: medium;
    font-weight: 700;
}

.return-wrapper {
    display: flex;
    margin: 10px 0;
}

.return {
    font-size: medium;
    font-weight: 700;
}

.copy-right-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 40px 0;
}

@media(max-width: 468px) {
    .content-wrapper, .copy-right-wrapper {
        padding: 10px 0;
        margin: 0 10px;
    }
    .content-wrapper {
        font-size: small;
    }
    .copy-right-wrapper {
        font-size: 12px;
    }
    .footer-wrapper img {
        width: 35px;
        height: 35px;
        margin: 0 15px;
    }
    .original {
        font-size: small;
        font-weight: 700;
    }
    .return {
        font-size: small;
        font-weight: 700;
    }
}

@media (min-width: 469px) and (max-width: 768px) {
    .content-wrapper, .copy-right-wrapper {
        padding: 30px 0;
        margin: 0 30px;
    }
    .content-wrapper {
        font-size: medium;
    }
    .copy-right-wrapper {
        font-size: 14px;
    }
    .footer-wrapper img {
        width: 35px;
        height: 35px;
        margin: 0 15px;
    }
    .original {
        font-size: medium;
        font-weight: 700;
    }
    .return {
        font-size: medium;
        font-weight: 700;
    }
}

/* @media screen and (min-width: 350px) and (max-width: 967px){
    .content-wrapper, .copy-right-wrapper {
        margin: 0 40px;
    }
} */